name: Test

# Run this job on all pushes and pull requests
# as well as tags with a semantic version
on:
  push:
    branches:
      - '*'
  pull_request: { }
  workflow_dispatch:

# Cancel previous PR/branch runs when a new commit is pushed
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 22.x, 24.x ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ github.workspace }}/.yarn
          key: test-${{ runner.os }}-node${{ matrix.node-version }}-${{ hashFiles('yarn.lock') }}

      - name: Enable corepack for Yarn
        run: corepack enable

      - name: Install
        run: yarn install
      - name: Lint
        run: yarn run lint
      - name: Test
        run: yarn run test
